<div>
    {{#each products}}
        <div>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>$ {{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Id: {{this.id}}</p>
        </div>
    
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>